@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-white text-black antialiased;
}

.instagram-gradient {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.swiper-button-next {
  right: -6px !important;
}

.swiper-button-prev {
  left: -6px !important;
}

.swiper {
  width: 100%;
  min-width: 0;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: #111;   
  
  width: 32px !important;
  height: 32px !important;
  background: white;
  border-radius: 50%;
  border: 1px solid #e4e4e7;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  margin-top: -16px;
}

.swiper-button-next .swiper-navigation-icon,
.swiper-button-prev .swiper-navigation-icon {
  width: 16px;
  height: 16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;   
  font-weight: 900 !important;
  color: #111;
}

.swiper-button-disabled {
  opacity: 0.3 !important;
}